{% extends 'sheard/main.html' %}
{% load render_partial %}
{% load static %}


{% block content %}

    <section class="intro-section">
        <h2 class="section-title">Hello, {{ baseSetting.name }}</h2>
        <p> {{ baseSetting.description }} </p>
        <a href="/" class="btn btn-primary btn-hire-me">HIRE ME</a>
    </section>
    <section class="resume-section">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">EDUCATION</h2>
                <ul class="time-line">
                    {% for item in education %}
                        <li class="time-line-item">
                            <span class="badge badge-primary">{{ item.date_time }}</span>
                            <h6 class="time-line-item-title">{{ item.name }}</h6>
                            <p class="time-line-item-subtitle">{{ item.subject }}</p>
                            <p class="time-line-item-content">{{ item.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-6">
                <h6 class="section-subtitle">RESUME</h6>
                <h2 class="section-title">Experience</h2>
                <ul class="time-line">
                    {% for item in experience %}
                        <li class="time-line-item">
                            <span class="badge badge-primary">{{ item.date_time }}</span>
                            <h6 class="time-line-item-title">{{ item.name }}</h6>
                            <p class="time-line-item-subtitle">{{ item.subject }}</p>
                            <p class="time-line-item-content">{{ item.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section class="services-section">
        <h6 class="section-subtitle">WHAT I DO</h6>
        <h2 class="section-title">CERTIFICATE</h2>
        <div class="row">
            {% for item in service %}
                <div class="media service-card col-lg-6">
                    <div class="service-icon">
                        <img src="{{ item.icon.url }}" alt="smartphone" style="height: 50px; padding: 10%; ">
                    </div>
                    <div class="media-body">
                        <h5 class="service-title">{{ item.name }}</h5>
                        <p class="service-description"> {{ item.description }} </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}