{% extends 'sheard/main.html' %}
{% load static %}


{% block content %}

    <div class="content-wrapper">
        <aside>
            <div class="profile-img-wrapper">
                <img src="{{ baseSetting.photo.url }}" alt="profile">
            </div>
            <h1 class="profile-name">{{ baseSetting.name }}</h1>
            <div class="text-center">
                <span class="badge badge-white badge-pill profile-designation">{{ baseSetting.your_job }}</span>
            </div>
            <nav class="social-links">
                {% for item in links %}
                <a href="{{ item.link }}" class="social-link"><i class="{{ item.icon }}"></i></a>
                {% endfor %}
            </nav>
            <div class="widget">
                <h5 class="widget-title">personal information</h5>
                <div class="widget-content">
                    <p>BIRTHDAY : {{ baseSetting.datetime }}</p>
                    <p>PHONE : {{ baseSetting.phone }}</p>
                    <p>MAIL : {{ baseSetting.email }}</p>
                    <p>Location : {{ baseSetting.Location }}</p>
                    <button class="btn btn-download-cv btn-primary rounded-pill"> <img src="{% static "images/download.svg" %}" alt="download"
                        class="btn-img">DOWNLOAD CV </button>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">SKINS</h5>

                        {% for skin in skins %}
                        <p>{{ skin.name }}</p>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">INTERESTS</h5>
                        {% for item in fun %}
                        <p>{{ item.name }}</p>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <section class="intro-section">
                <h2 class="section-title">Hello, {{ baseSetting.name }}</h2>
                <p> {{ baseSetting.description }} </p>
                <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a>
            </section>
            <section class="resume-section">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">EDUCATION</h2>
                        <ul class="time-line">
                            {% for item in education %}
                            <li class="time-line-item">
                                <span class="badge badge-primary">{{ item.date_time }}</span>
                                <h6 class="time-line-item-title">{{ item.name }}</h6>
                                <p class="time-line-item-subtitle">{{ item.subject }}</p>
                                <p class="time-line-item-content">{{ item.description }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">Experience</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2010 - 2014</span>
                                <h6 class="time-line-item-title">UI/UX Designer</h6>
                                <p class="time-line-item-subtitle">Web Agency</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2008 - 2010</span>
                                <h6 class="time-line-item-title">Web Designer</h6>
                                <p class="time-line-item-subtitle">Apple Inc.</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2006 - 2008</span>
                                <h6 class="time-line-item-title">Graphic Designer</h6>
                                <p class="time-line-item-subtitle">Apple Inc.</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="services-section">
                <h6 class="section-subtitle">WHAT I DO</h6>
                <h2 class="section-title">SERVICES</h2>
                <div class="row">
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="{% static "images/001-target.svg" %}" alt="target">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">web designing</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.</p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="{% static "images/003-idea.svg" %}" alt="bulb">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Graphic design</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.
                            </p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="{% static "images/002-development.svg" %}" alt="development">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Development</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.
                            </p>
                        </div>
                    </div>
                    <div class="media service-card col-lg-6">
                        <div class="service-icon">
                            <img src="{% static "images/004-smartphone.svg" %}" alt="smartphone">
                        </div>
                        <div class="media-body">
                            <h5 class="service-title">Mobile design</h5>
                            <p class="service-description">Mauris magna sapien, pharetra consectetur fringilla vitae, interdum sed
                                tortor.
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <footer>Designed by Sahand Talebi</footer>
        </main>
    </div>
{% endblock %}